body {
    width: 100%;
    height: 100vh;
    margin: 0px;
}
#dataAndButton > * {
    visibility: hidden;
    text-align: justify;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

#mainContainer > * {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

h2{
    text-align:center;
}
#instructions{
    text-align:justify;
}