
@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Form</h2>


<form method="post" action="/Home/Count">
    <select name="figure">
        <option id="square" value="square">Kwadrat</option>
        <option id="rectangle" value="rectangle">Prostokąt</option>
        <option id="triangle" value="triangle">Trójkąt</option>
        <option id="circle" value="circle">Koło</option>
    </select>
    <input type="text" name="sides" />
    <input type="submit" />
</form>