
@{
    ViewBag.Title = "Obliczanie pola powierzchni figur płaskich";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Obliczanie pola powierzchni figur płaskich</h2>
<div id="mainContainer">
        <select id="select" name="figure">
            <option selected disabled hidden value="">-- Wybierz figurę --</option>
            <option id="square" value="square">Kwadrat</option>
            <option id="rectangle" value="rectangle">Prostokąt</option>
            <option id="triangle" value="triangle">Trójkąt</option>
            <option id="circle" value="circle">Koło</option>
            <option id="trapezoid" value="trapezoid">Trapez</option>
            <option id="rhombus" value="rhombus">Romb</option>
        </select>
        <br />
        <br />
        <p id="instructions" class="invi"></p>
        <input id="calcData" type="text" class="invi" name="calcData">
        <input type="button" class="btn btn-primary invi" id="calculateArea" value="Oblicz pole">
        <h4 id="figureArea" class="invi"></h4>
</div>
