
@{
    ViewBag.Title = "Obliczanie pola powierzchni figur płaskich";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<body>
    <h2>Obliczanie pola powierzchni figur płaskich</h2>
    <br />
    <div id="calcForm">
        <select id="select" name="figure">
            <option selected disabled hidden value="">-- Wybierz figurę --</option>
            <option id="square" value="square">Kwadrat</option>
            <option id="rectangle" value="rectangle">Prostokąt</option>
            <option id="triangle" value="triangle">Trójkąt</option>
            <option id="circle" value="circle">Koło</option>
            <option id="trapezoid" value="trapezoid">Trapez</option>
            <option id="rhombus" value="rhombus">Romb</option>
        </select>
        <div id="dataAndButton">
            <br />
            <p id="instructions"></p>
            <input id="calcData" type="text" name="calcData" />
            <input type="button" id="calculateArea" value="Oblicz pole">
        </div>
    </div>
    <br />
    <p id="figureArea"></p>
    <script type="text/javascript" src="~/Scripts/myscripts.js"></script>
    <script src="~/Scripts/jquery-3.3.1.js"></script>
</body>
</html>